TELEGRAM_BOT_TOKEN=123456:ABC...
ROUTE=814
# ID остановки из адресной строки Яндекс.Карт (см. README)
STOP_ID=stop__XXXXXXX
STOP_NAME=первая остановка после 6-й Радиальной
DEPART_ETA_MIN=3
POLL_INTERVAL=30
ACTIVE_DAYS=1-5
ACTIVE_FROM=07:00
ACTIVE_TO=09:30
# ALLOWED_CHAT_IDS=123456789
