TELEGRAM_BOT_TOKEN=123456:ABC...
ROUTE=814
# ID остановки из адресной строки Яндекс.Карт (см. README)
STOP_ID=stop__XXXXXXX
STOP_NAME=Касимовская улица
NOTIFY_ETA_MIN=1
POLL_INTERVAL=20
ACTIVE_DAYS=1-5
ACTIVE_FROM=07:00
ACTIVE_TO=09:30
# ALLOWED_CHAT_IDS=123456789
